.App {
  text-align: left;
}

.App-logo {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.App-skills {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
  
}

.App-primary {
  background-color: rgb(212, 212, 212);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

a:link {
  text-decoration: none;
  color:white;
}

a:visited {
  text-decoration: none;
  color:white;
}

a:hover {
  text-decoration: none;
  color:violet;
}

a:active {
  text-decoration: underline;
}
